NEOPLE_API_KEY=your_neople_api_key_here
PORT=8787
API_SERVER_MODE=prod
HEAVY_REQUEST_LIMIT=8
HEAVY_REQUEST_WAIT_SECONDS=15
VITE_API_BASE=https://api2.dunpilot.com
VITE_FEEDBACK_EMAIL=dunpilot.feedback@gmail.com
